#portfolios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60em;
  padding: 1em;
}

.portfolio {
  width: 20em;
  height: 15em;
  border-radius: 1em;
  overflow-wrap: inherit;
}