@import "box";

#portfolios {
  @include flex-box(row);
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 60em;
}

.portfolio {
  @extend .borderbox-radius;
  @include flex-box(column);
  align-items: center;
  width: 20em;
  height: 15em;
  margin: 0.5em;
  overflow-wrap: normal;
  overflow: hidden;
  background-color: khaki;

  h3 {
    
  }

  img {
    width: 100%;
  }
}